body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: white;
    font-family: "roboto";
    justify-content: center;
    box-sizing: border-box ;
}

.text {
    text-align: justify;
    font-size: 2.7vh;
    left: 50%;
    top: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text2 {
    text-align: justify;
    font-size: 2.7vh;
    left: 50%;
    top: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}